<!DOCTYPE html>
<html>
<head>
    <title>Change Art</title>
    <link rel="stylesheet" href="/static/styles/change.css">
</head>
<body>
    {{ template "header.html" . }}
    <form action="/change" method="POST" enctype="multipart/form-data">
<!--      <label for="image">Зображення:</label>-->
<!--      <div class="file-input">-->
<!--          <input type="file" name="image" id="image" accept="image/*" required>-->
<!--          <button type="button" id="file-btn">Вибрати файл</button>-->
<!--          <span id="file-name">Файл не вибрано</span>-->
<!--      </div>-->

        <img id="artImage" src="/{{ .art.Image }}" alt="art">

        <div>
            <label for="name">Ім'я:</label>
            <input value="{{ .art.Name }}" type="text" name="name" id="name" required><br><br>

            <label for="description">Опис:</label>
            <input value="{{ .art.Description }}" type="text" name="description" id="description" required><br><br>

            <label for="price">Ціна:</label>
            <input value="{{ .art.Price }}" type="text" name="price" id="price" required><br><br>

            <input type="submit" value="Змінити">
        </div>
  </form>

  <script src="/static/js/change.js"></script>
</body>
</html>


