<!DOCTYPE html>
<html>
<head>
    <title>Створення нового Art</title>
    <link rel="stylesheet" href="/static/styles/create.css">
</head>
<body>
    {{ template "header.html" . }}
    <form action="/create" method="POST" enctype="multipart/form-data">
      <label for="image">Зображення:</label>
      <div class="file-input">
          <input type="file" name="image" id="image" accept="image/*" required>
          <button type="button" id="file-btn">Вибрати файл</button>
          <span id="file-name">Файл не вибрано</span>
      </div>

      <label for="description">Опис:</label>
      <input type="text" name="description" id="description" required><br><br>

      <label for="price">Ціна:</label>
      <input type="text" name="price" id="price" required><br><br>

      <input type="submit" value="Створити">
  </form>

  <script src="/static/js/create.js"></script>
</body>
</html>


