<!DOCTYPE html>
<html>
<head>
    <title>Kris Arts</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    {{ template "header.html" . }}

    <div>
        <input class="findInput" onchange="findInput(this)" type="text" placeholder="Find art" />
    </div>

    <ul>
        {{ range .arts }}
        <li>
            <h3>Name: {{ .Name }}</h3>
            <img src="{{ .Image }}" alt="Artwork">
            <p>Description: {{ .Description }}</p>
            <p>Price: {{ .Price }}</p>
        </li>
        {{ end }}
    </ul>
    <script src="/static/js/index.js"></script>
</body>
</html>