<!DOCTYPE html>
<html>
<head>
    <title>Kris Arts</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    {{ template "header.html" . }}

    <div class="find">
        <input class="findInput" onchange="findArts(this)" type="text" placeholder="Find art" />
        <img onclick="findArts(this)" class="imgFind" src="/static/images/find.png" alt="find">
    </div>

    <ul class="listArts">
        {{ range .arts }}
        <li>
            <h3>{{ .Name }}</h3>
            <img src="{{ .Image }}" alt="Artwork">
            <p>Description: {{ .Description }}</p>
            <p>Price: {{ .Price }}</p>
        </li>
        {{ end }}
    </ul>
    <span class="spanFind"></span>
    <script src="/static/js/index.js"></script>
</body>
</html>