<!DOCTYPE html>
<html>
<head>
    <title>Profile {{ .user.Username }}</title>
    <link rel="stylesheet" href="/static/styles/profile.css">
</head>
<body>
    {{ template "header.html" . }}
    <div class="userInfo">
      <img class="userImg" src="{{ .user.Image }}" alt="{{ .user.Username }}">
      <h1>{{ .user.Username }}</h1>
    </div>
    
    <div class="arts">
      {{ range .arts }}
        <img id="{{ .ID }}" class="artImg" src="{{ .Image }}" alt="Artwork">
      {{ end }}
    </div>

    <div class="fullscreenImageContainer" id="fullscreenImageContainer">
        <span class="closeButton" id="closeButton">&times;</span>
        <img class="fullscreenImage" id="fullscreenImage">
        <div class="change">
            <button>Change</button>
            <button onclick="showDeleteConfirmation()" class="buttonRed">Delete</button>
        </div>
    </div>

    <div class="deleteConfirmation" id="deleteConfirmation">
        <p>Are you sure you want to delete this art?</p>
        <div class="buttons">
            <button onclick="deleteArt()" class="buttonRed">Yes, delete</button>
            <button onclick="hideDeleteConfirmation()">Cancel</button>
        </div>
    </div>

  <script src="/static/js/profile.js"></script>
</body>
</html>


