body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
}

.arts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(255,255,255,0.1);
}

img {
  width: 33.1%;
  object-fit: cover;
  border: solid 1px black;
}

.userImg{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1%;
}

.userInfo{
  display: flex;
}

.userInfo h1{
  text-align: center;
  font-size: 4em;
  width: 50%;
}

.fullscreenImageContainer {
  display: none;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.fullscreenImage {
  height: 85%;
  width: auto;
  display: block;
  margin: 3% auto auto;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.change{
  width: 24%;
  position: relative;
  right: 0;
  margin: 0 auto;
}

.change button{
  font-size: 2em;
  padding: 5px;
  margin: 2%;
  border: none;
  border-radius: 2px;
}

.change button:hover{
  opacity: 0.8;
}

.buttonRed{
  background-color: red;
  color: white;
}

.deleteConfirmation {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.deleteConfirmation p {
  margin: 0 0 10px;
  color: black;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.buttons button {
  margin-right: 10px;
  border: none;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 5px;
}

.basket{
  height: 3em;
  width: 3em;
  border:none;
  position: absolute;
  right: 1%;
}

.basketPopup{
  display: none;
  color: black;
  position: fixed;
  z-index: 9998;
  width: 80%;
  height: 80%;
  background-color: rgb(255,255,255,0.9);
  top: 50%;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
}

.order{
  text-decoration: none;
  color: black;
  font-size: 5em;
  padding: 10px 20px;
  background: green;
  border-radius: 10px;
  margin: 1%;
}

.basketArts{
  overflow-y: auto;
}

.artBasket{
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: rgba(0,0,0,0.9);
  display:flex;
  margin: 1%;
  padding: 1%;
}

.artBasket div {
  width: 100%;
}

.artBasket p{
  font-size: 2em;
  text-align: end;
}
